<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Store\Api\StoreResolverInterface" type="Ho\StoreResolver\Model\StoreResolver"/>
    <preference for="Magento\Framework\App\Response\RedirectInterface" type="Ho\StoreResolver\Model\AppResponseRedirect" />

    <type name="Magento\Framework\App\AreaList">
        <plugin name="hoStoreResolverAreaList" type="Ho\StoreResolver\Plugin\AppAreaListPlugin"/>
    </type>
    <type name="Magento\Framework\Data\Helper\PostHelper">
        <plugin name="reach" type="Ho\StoreResolver\Plugin\PostHelperPlugin"/>
    </type>

    <type name="Ho\StoreResolver\Model\StoreResolver">
        <arguments>
            <argument name="cache" xsi:type="object">Magento\Framework\App\Cache\Type\Config</argument>
        </arguments>
    </type>

    <type name="Amasty\ShopbySeo\Helper\Data">
        <plugin name="hoStoreResolverAmastyShopbySeoCompatibility" type="Ho\StoreResolver\Plugin\FixSeoUrlParsing"/>
    </type>
</config>
